
    <div id="page" class="page">
        <div id="faqs-page" class="page-hero-section division">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="hero-txt text-center white-color">
                            <div id="breadcrumb">
                                <div class="row">
                                    <div class="col">
                                        <div class="breadcrumb-nav">
                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb">
                                                   <li class="breadcrumb-item"><a href="Musteri1">Anasayfa</a></li>
                                                  
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          <h2 class="h2-xl">Bize bir sorunuz mu var?</h2>
                       </div>
                   </div>
                </div>	 
            </div>	  
        </div>	
        <section id="faqs-1" class="wide-100 faqs-section division">
            <div class="container">
                <div class="faqs-1-questions">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="questions-wrapper">
                                <div class="question">
                                    <h5 class="h5-xs">SİPARİŞİMDEKİ BİR ŞEYİ NASIL DEĞİŞTİREBİLİRİM?</h5>
                                    <p class="grey-color">
                                        "Memnuniyetiniz bizim için önemli. Siparişinizde değişiklik yapmak isterseniz, size yardımcı olmaktan mutluluk duyarız. İstediğiniz ürünleri seçmek veya menümüzde değişiklik yapmak için bizimle iletişime geçebilirsiniz."
                                    </p>
                                </div>
                                <div class="question">
                                    <h5 class="h5-xs">HANGİ ÖDEME YÖNTEMLERİNİ KABUL EDİYORSUNUZ?</h5>
                                    <p class="grey-color">
                                        "Ödeme yöntemleri olarak kredi kartı ve nakit kabul ediyoruz. Güvenli alışveriş için kredi kartıyla ödeme yapabilir veya tercihinize göre nakit ödeme seçeneğini kullanabilirsiniz."
                                    </p>
                                </div>
                                <div class="question">
                                    <h5 class="h5-xs">ÖDEME BİLGİLERİM GÜVENDE Mİ?</h5>
                                    <p class="grey-color">
                                        "Ödeme bilgileriniz bizim için en yüksek önceliktir ve kesinlikle güvendedir. Güvenliğiniz, işimizin temel bir parçasıdır ve bu nedenle tüm ödeme işlemlerimiz son derece güvenlidir. Ödeme bilgilerinizi korumak için en son güvenlik standartlarını uyguluyoruz ve gelişmiş şifreleme teknolojileri kullanıyoruz. Böylece, herhangi bir endişe duymadan rahatlıkla alışveriş yapabilirsiniz."
                                    </p>
                                </div>                            
                            </div>
                        </div>	
                        <div class="col-lg-6">
                            <div class="questions-wrapper pc-30">
                                <div class="question">
                                    <h5 class="h5-xs">KARGO FİYATI NE KADAR?</h5>
                                    <p class="grey-color">
                                        "Ücretsiz nakliye hizmetimizle, siz değerli müşterilerimize ekstra bir ücret ödemeden siparişlerinizi kapınıza kadar ulaştırıyoruz. Müşteri memnuniyetini ön planda tutarak, alışveriş deneyiminizi daha da keyifli hale getirmek için her adımda özenle çalışıyoruz. Siz siparişinizi verirken, nakliye bedeli gibi ek masraflarla uğraşmak zorunda kalmazsınız. Böylece, istediğiniz ürünleri alırken bütçenizi koruyabilir ve alışverişinizi daha rahat yapabilirsiniz.
                                    </p>
                                </div>
                                <div class="question">
                                    <h5 class="h5-xs">SİPARİŞİMİN TESLİM EDİLMESİ NE KADAR SÜRER?</h5>
                                    <p class="grey-color">
                                        "Siparişinizin teslim edilmesi genellikle yaklaşık yarım saat sürmektedir. Ancak, yoğunluk durumuna ve siparişinizin içeriğine bağlı olarak bu süre değişebilir. Mümkün olan en kısa sürede siparişinizi hazırlayıp size ulaştırmak için çalışıyoruz."
                                    </p>

                                </div>
                            </div>
                        </div>	
                    </div>	
                </div>	
                <div class="row">
                    <div class="col-md-12">
                        <div class="more-questions-btn text-center">

                            <a asp-controller="BizeUlasin" asp-action="Index" class="btn btn-md btn-red tra-red-hover"> Hala bir sorunuz mu var?</a>

                            @*<a href="BizeUlasin" class="btn btn-md btn-red tra-red-hover">Hala bir sorunuz mu var?</a>*@
                        </div>
                    </div>
                </div>
            </div>    
        </section>
    </div>	


