@model Urun
<div class="content-body default-height">
    <div class="container-fluid">
        <form asp-controller="UrunGuncelle" asp-action="UrunGuncelle" enctype="multipart/form-data" method="post" novalidate>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"><i class="fa-solid fa-burger"></i>Ürün Güncelleme Sayfası</h4>

                        </div>
                        <div class="card-body">
                            <div class="form-validation">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="Ad">Ad</label>
                                            <div class="col-lg-6">
                                                <input asp-for="Ad" type="text" class="form-control" id="Ad" placeholder="Ürün Adını gir">
                                                <span asp-validation-for="Ad" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="Acıklama">Açıklama</label>
                                            <div class="col-lg-6">
                                                <input asp-for="Acıklama" type="text" class="form-control" id="Acıklama" placeholder="Açıklama giriniz">
                                                <span asp-validation-for="Acıklama" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="Detay">Detay</label>
                                            <div class="col-lg-6">
                                                <input asp-for="Detay" type="text" class="form-control" id="Detay" placeholder="Detay giriniz">
                                                <span asp-validation-for="Detay" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="Fiyat">Fiyat</label>
                                            <div class="col-lg-6">
                                                <input asp-for="Fiyat" type="text" class="form-control" id="Fiyat" placeholder="Fiyat giriniz">
                                                <span asp-validation-for="Fiyat" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationCustom05">
                                                Kategori Tür Seç
                                                <span class="text-danger"></span>
                                            </label>
                                            <div class="col-lg-6">
                                                <select asp-for="KategoriId" class="default-select wide form-control" id="validationCustom05">
                                                    <option data-display="Select">Tür seçiniz</option>
                                                    @foreach (var kategori in ViewBag.Kategori)
                                                    {
                                                        <option value="@kategori.Id">@kategori.Ad</option>
                                                    }

                                                </select>
                                            </div>
                                        </div>

                                            @*<div class="mb-6 row">
                                                <label class="col-lg-4 col-form-label" for="validationCustom05"> Malzeme Seçiniz</label>
                                                <div class="col-lg-6">
                                                    <select class="multi-select" name="Malzemeler[]" multiple="multiple" id="validationCustom05">
                                                        @foreach (var malzeme in ViewBag.Malzemeler)
                                                        {
                                                            <option value="@malzeme.Id">@malzeme.Ad</option>
                                                        }

                                                    </select>
                                                </div>
                                            </div>*@


                                            <div class="mb-3 row">
                                                <label class="col-lg-4 col-form-label" for="formFile">Ürün Fotoğrafı</label>
                                                <div class="col-lg-6">
                                                    <input asp-for="Fotograf" id="formFile" class="form-control" name="file" type="file">
                                                    <span class="validation-text" asp-validation-for="Fotograf"></span>
                                                </div>
                                            </div>

                                            <input type="hidden" value=true asp-for="Aktif">

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <button type="submit" class="btn me-2 btn-primary">Gönder</button>
                                                    <button type="button" class="btn btn-danger light" onclick="window.history.back();">İptal Etmek</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.querySelector("#formFile").onchange = function () {
        const fileName = this.files[0]?.name;
        const label = document.querySelector("label[for=formFile]");
        label.innerText = fileName ?? "Fotoğraf Yükle";
    };
</script>