
			<div id="cart-page" class="page-hero-section division">
				<div class="container">	
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="hero-txt text-center white-color">

                                <div id="breadcrumb">
                                    <div class="row">
                                        <div class="col">
                                            <div class="breadcrumb-nav">
                                                <nav aria-label="breadcrumb">
                                                    <ol class="breadcrumb">
                                                    </ol>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h2 class="h2-xl">Sepet</h2>

                            </div>
                        </div>

                    </div>	 
				</div>	  
			</div>	

			<section id="cart-1" class="wide-100 cart-page division">

				<div class="container">

					<div class="row">
						<div class="col-md-12">
							<div class="cart-table mb-70">
								<table id="myTable">
									<thead>
									    <tr>
									      	<th scope="col">Ürünler</th>
									      	<th scope="col">Fiyat</th>
									      	<th scope="col">Miktar</th>
									      	<th scope="col">Toplam Fiyat</th>
									      	<th scope="col">Sil</th>
									    </tr>

									 </thead>

									<tbody>

									    <tr>
									      	<td data-label="Product" class="product-name">

												<div class="cart-product-img"><img src="~/img/menu/burger-07.png" alt="cart-preview"></div>

												<div class="cart-product-desc">
										      		<h5 class="h5-sm">Smokey House Burger</h5>

										      		<p class="p-sm">Magna donec and ipsum gravida</p>

										      	</div>

									      	</td>
									      	<td data-label="Price" class="product-price"><h5 class="h5-md">$8.95</h5></td>

									      	<td data-label="Quantity" class="product-qty">

									      		<input class="qty" type="number" min="1" max="25" value="1">

									      	</td>

									      	<td data-label="Total" class="product-price-total"><h5 class="h5-md">$8.95</h5></td>

									      	<td data-label="Delete" class="td-trash"><i class="far fa-trash-alt"></i></td>

									    </tr>

									</tbody>

								</table>
							</div>
						</div>
					</div>	

					<div class="row">

						<div class="col-lg-8">

							<div class="discount-coupon row pt-15">

								<div class="col-md-8 col-lg-7">

									<form class="discount-form">
												
										<div class="input-group">

											<input type="text" class="form-control" placeholder="Kupon Kodu Gir" id="discount-code">		
											
											<span class="input-group-btn">

												<button type="submit" class="btn btn-salmon tra-salmon-hover">Kupon Uygula</button>
											</span>										
										</div>
													
									</form>	

								</div>
							
								<div class="col-md-4 col-lg-5 text-right">

									<a onClick="window.location.reload()" class="btn btn-md btn-salmon tra-salmon-hover">Güncelle</a>
								</div>

							</div>

						</div>

						<div class="col-lg-4">

							<div class="cart-checkout bg-lightgrey">

                                <h5 class="h5-lg">

                                    ALIŞVERIŞ SEPETI TOPLAMI
                                </h5>

								<table>
									<tbody>
									    <tr>
									    
									      	<td> </td>
									      
									    </tr>
									    <tr class="last-tr">
									      	<td>Toplam</td>
									      	<td> </td>
									      	<td class="text-right">$35.95</td>
									    </tr>
									  </tbody>
								</table>

								<a href="#" class="btn btn-md btn-salmon tra-salmon-hover">Ödeme Yap</a>

							</div>
						</div>	

					</div>	

				</div>	    
			</section>	

            <section id="banner-4" class="bg-fixed wide-100 banner-section division">

                <div class="container">

                    <div class="row">

                        <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">

                            <div class="banner-4-txt text-center">

                                <h4 class="h4-xl">

                                    30 DAKİKADA
                                </h4>

                                <h2>
                                    TESLİMAT GARANTİSİ!
                                </h2>

                                <p class="p-lg">
                                    30 dakikada teslimat garantisiyle, siparişinizin en kısa sürede kapınıza ulaşmasını sağlıyoruz. Hızlı ve güvenilir hizmet anlayışımızla müşteri memnuniyetini en üst düzeyde tutuyoruz!
                                </p>

                            </div>

                        </div>

                    </div>

                </div>

            </section>
