@model Tedarikci

<div class="content-body default-height">
    <div class="container-fluid">
        <form asp-controller="Tedarikci" asp-action="TedarikciEkle" method="post" novalidate>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Tedarikçi Ekleme Sayfası <i class="fa-regular fa-truck-field"></i></h4>
                        </div>
                        <div class="card-body">
                            <div class="form-validation">
                                <input type="hidden" asp-for="Gorunurluk" value=true />
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="AdSoyad">Tedarikçi Adı</label>
                                    <div class="col-lg-6">
                                        <input asp-for="AdSoyad" type="text" class="form-control" id="AdSoyad" placeholder="Tedarikçi Adını gir">
                                        <span asp-validation-for="AdSoyad" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="Firma">Tedarikçi Firma Adı</label>
                                    <div class="col-lg-6">
                                        <input asp-for="Firma" type="text" class="form-control" id="Firma" placeholder="Tedarikçi Firma adı gir">
                                        <span asp-validation-for="Firma" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="Eposta">Tedarikçi Eposta</label>
                                    <div class="col-lg-6">
                                        <input asp-for="Eposta" type="text" class="form-control" id="Eposta" placeholder="Eposta Detayı">
                                        <span asp-validation-for="Eposta" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="Telefon">Tedarikçi Telefon</label>
                                    <div class="col-lg-6">
                                        <input asp-for="Telefon" type="text" class="form-control" id="Telefon" placeholder="Tedarikçi Telefonu gir">
                                        <span asp-validation-for="Telefon" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="Adres">Tedarikçi Adres</label>
                                    <div class="col-lg-6">
                                        <input asp-for="Adres" type="text" class="form-control" id="Adres" placeholder="Tedarikçi Adresi gir">
                                        <span asp-validation-for="Adres" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="submit" class="btn me-2 btn-primary">Gönder</button>
                                        <button type="button" class="btn btn-danger light" onclick="window.history.back();">İptal Etmek</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
