@model Urun
<div class="content-body default-height">
    <div class="container-fluid">
        <form asp-controller="Urun" asp-action="UrunEkle" method="post" novalidate>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Ürün Ekleme Sayfası</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-validation">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="Ad">Ad</label>
                                            <div class="col-lg-6">
                                                <input asp-for="Ad" type="text" class="form-control" id="Ad" placeholder="Ürün Adını gir">
                                                <span asp-validation-for="Ad" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="Acıklama">Açıklama</label>
                                            <div class="col-lg-6">
                                                <input asp-for="Acıklama" type="text" class="form-control" id="Acıklama" placeholder="Açıklama giriniz">
                                                <span asp-validation-for="Acıklama" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="Detay">Detay</label>
                                            <div class="col-lg-6">
                                                <input asp-for="Detay" type="text" class="form-control" id="Detay" placeholder="Detay giriniz">
                                                <span asp-validation-for="Detay" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="Fiyat">Fiyat</label>
                                            <div class="col-lg-6">
                                                <input asp-for="Fiyat" type="text" class="form-control" id="Fiyat" placeholder="Fiyat giriniz">
                                                <span asp-validation-for="Fiyat" class="text-danger"></span>
                                            </div>
                                        </div>
                                      

                                        <div class="mb-3">
                                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                                        </div>

                                        <div class="mb-3 row">
                                            <div class="col-lg-6">
                                                <button type="submit" class="btn me-2 btn-primary">Gönder</button>
                                                <button type="reset" class="btn btn-danger light">İptal</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
