@model IEnumerable<Kategori>

<div class="content-body default-height">
    <div class="container-fluid">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Personel Listesi</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example3" class="display" style="min-width: 845px">
                            <thead>
                                <tr>
                                    <th>Id </th>                     
                                    <th>Ad</th>
                                    <th>Tür</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var kategori in Model)
                                {
                                    <tr>
                                        <td>@kategori.Id</td>
                                        <td>@kategori.Ad</td>
                                        <td>@kategori.Tür</td>
              
                                        <td>
                                            <a asp-action="KategoriSil" asp-route-id="@kategori.Id" class="btn btn-danger btn-sm rounded-circle">
                                                <i class="fa fa-trash"></i>
                                            </a>                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="example3_paginate" class="dataTables_paginate paging_simple_numbers">
                                <!-- Sayfalama düğmeleri buraya gelecek -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
