
    <div id="page" class="page">

        <div id="contacts-page" class="page-hero-section division">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="hero-txt text-center white-color">
                            <div id="breadcrumb">
                                <div class="row">
                                    <div class="col">
                                        <div class="breadcrumb-nav">
                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb">
                                                    <li class="breadcrumb-item"><a href="Musteri1">Anasayfa</a></li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h2 class="h2-xl">Bize Ulaşın</h2>

                        </div>
                    </div>
                </div>	  
            </div>	  
        </div>	
      
        <section id="contacts-5" class="wide-80 contacts-section division">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="cbox-5">
                                    <h5 class="h5-lg">KONUM</h5>
                                    <p class="p-md">
                                        Düzce Merkez
                                    </p>
                                    <p class="p-md">Azmimilli mah.</p>
                                    <p class="p-md"> No: 23</p>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cbox-5">
                                    <h5 class="h5-lg">ÇALIŞMA SAATLERİMİZ</h5>
                                    <p class="p-md">Hafta içi hergün: 11.00 - 23.00</p>
                                    <p class="p-md">Cumartesi:12.00 - 22.00</p>
                                    <p class="p-md">Pazar: Kapalıyız</p>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cbox-5">
                                    <h5 class="h5-lg">İRTİBAT NUMARALARIMIZ</h5>

                                    <p class="p-md">555 492 52 81</p>
                                    <p class="p-md"> <a href="mailto:buseeaydnn01@gmail.com" class="yellow-color">buseeaydnn01@gmail.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div id="gmap">
                            <div class="google-map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3018.5121014768665!2d31.161932499999995!3d40.8386792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x409d75452db703b9%3A0xbc60c0d373f3b835!2sD%C3%BCzce%20Belediyesi!5e0!3m2!1str!2str!4v1716273812518!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


                            </div>
                        </div>
                    </div>
                </div>	
            </div>	 
        </section>	
        <section id="banner-4" class="bg-fixed wide-100 banner-section division">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                        <div class="banner-4-txt text-center">
                            <h4 class="h4-xl">
                                30 DAKİKADA
                            </h4>
                            <h2>
                                TESLİMAT GARANTİSİ!
                            </h2>
                            <p class="p-lg">

                                30 dakikada teslimat garantisiyle, siparişinizin en kısa sürede kapınıza ulaşmasını sağlıyoruz. Hızlı ve güvenilir hizmet anlayışımızla müşteri memnuniyetini en üst düzeyde tutuyoruz!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div>