    <div id="page" class="page">
        <div id="terms-page" class="page-hero-section division">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="hero-txt text-center white-color">

                            <!-- Breadcrumb -->
                            <div id="breadcrumb">
                                <div class="row">
                                    <div class="col">
                                        <div class="breadcrumb-nav">
                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb">
                                                    @*<li class="breadcrumb-item"><a href="demo-1.html">Home</a></li>
                                                    <li class="breadcrumb-item active" aria-current="page">Terms & Privacy</li>*@
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Title -->
                            <h2 class="h2-xl">Gizlilik ve Şartlar</h2>

                        </div>
                    </div>
                </div>	  <!-- End row -->
            </div>	   <!-- End container -->
        </div>	<!-- END PAGE HERO -->
        <!-- TERMS & PRIVACY
        ============================================= -->
        <section id="terms-1" class="wide-60 terms-section division">
            <div class="container">
                <div class="row">


                    <!-- TERMS CONTENT -->
                    <div class="col-lg-10 offset-lg-1">


                        <!-- TERMS BOX -->
                        <div class="terms-box">

                            <!-- Text -->
                            <p>
                                Restoranımızın web sitesini ziyaret ettiğiniz için teşekkür ederiz. Müşteri gizliliği ve güvenliği bizim için son derece önemlidir. Bu nedenle, gizlilik politikamızı ve kullanım koşullarımızı aşağıda detaylandırdık. Restoranımızın hizmetlerini kullanarak veya web sitemizi ziyaret ederek, aşağıdaki şartları kabul etmiş olursunuz.
                            </p>
                        </div>	<!-- END TERMS BOX -->
                        <!-- TERMS BOX -->
                        <div class="terms-box">

                            <!-- Title -->
                            <h5 class="h5-lg">
                                Kullanım Koşulları:

                            </h5>

                            <!-- Text -->
                            <p>
                                Web sitemizi kullanarak, aşağıdaki kullanım koşullarını kabul etmiş olursunuz:
                                Sitemizi kötüye kullanmamalı veya hizmetlerimizi engellememelisiniz. Diğer kullanıcıların web sitemizden faydalanmasını etkileyecek davranışlardan kaçınmalısınız.
                                Telif hakları ve diğer fikri mülkiyet haklarına saygı göstermelisiniz. Sitemizin içeriğini izinsiz kullanmamalısınız veya dağıtmamalısınız.
                            </p>

                            <!-- Text -->
                            <p>
                                Gizlilik Politikası:
                            </p>

                            <!-- List -->
                            <ul class="txt-list">

                                <li class="list-item">
                                    <p>Kişisel bilgilerinizi korumak için gerekli güvenlik önlemlerini alırız. Bu bilgileri sadece belirli amaçlar doğrultusunda kullanırız ve saklarız.</p>
                                </li>

                                <li class="list-item">
                                    <p>  Müşteri gizliliği bizim için son derece önemlidir. Sitemizi ziyaret ettiğinizde veya hizmetlerimizi kullandığınızda topladığımız kişisel bilgileri asla üçüncü taraflarla paylaşmayız. </p>
                                </li>
                                <li class="list-item">
                                    <p>  Sitemizde çerezler kullanılabilir. Çerezler, web sitemizin kullanımını analiz etmek ve kullanıcı deneyimini geliştirmek için kullanılır. Çerez kullanımını kabul etmek istemiyorsanız, tarayıcınızın ayarlarını değiştirebilirsiniz. </p>
                                </li>
                            </ul>

                        </div>	<!-- END TERMS BOX -->
                        <!-- TERMS BOX -->
                        <div class="terms-box">

                            <!-- Title -->
                            <h5 class="h5-lg">  Değişiklikler:</h5>

                            <!-- Text -->
                            <p>
                                Bu şartlar ve gizlilik politikası zaman zaman güncellenebilir veya değiştirilebilir. Değişikliklerin yürürlüğe girdiği tarih, bu sayfanın en altında belirtilecektir. Değişikliklerden haberdar olmanız için bu sayfayı periyodik olarak kontrol etmeniz önerilir.

                                Bizimle iletişim kurarak veya web sitemizi düzenli olarak ziyaret ederek en güncel bilgilere erişebilirsiniz. Müşterilerimize en iyi hizmeti sunmak ve şeffaflığı sağlamak için, herhangi bir güncelleme veya değişiklik yapıldığında sizi bilgilendireceğiz.

                                Bu nedenle, lütfen bu sayfayı düzenli olarak kontrol etmeyi unutmayın ve herhangi bir sorunuz veya endişeniz varsa, bizimle iletişime geçmekten çekinmeyin. Size yardımcı olmaktan memnuniyet duyarız. Teşekkür ederiz!
                            </p>

                        </div>	<!-- END TERMS BOX -->
                        <!-- TERMS BOX #3 -->
                        <div class="terms-box">

                            <!-- Title -->
                            <h5 class="h5-lg">İletişim:</h5>

                            <!-- Text -->
                            <p>
                                Müşteri memnuniyeti bizim için önceliklidir. Herhangi bir sorunuz veya endişeniz varsa, lütfen bizimle iletişime geçmekten çekinmeyin. Size yardımcı olmaktan ve sorularınıza cevap vermektense mutluluk duyarız. Müşteri hizmetleri ekibimiz, her türlü sorununuzda size yardımcı olmak için burada. İletişim bilgilerimiz web sitemizde bulunmaktadır ve bizimle telefon, e-posta veya iletişim formu aracılığıyla iletişime geçebilirsiniz. Müşteri geri bildirimleri bizim için çok değerlidir ve hizmetlerimizi sürekli olarak geliştirmemize yardımcı olur. Size en iyi deneyimi sunabilmek için buradayız. İletişim bilgilerimizi kullanarak bize ulaşmaktan çekinmeyin. Teşekkür ederiz!
                       </p>
             </div>


                    </div>	


                </div>     
            </div>	    
        </section>	 
       </div>