
    <div id="page" class="page">
        <div id="gallery-page" class="page-hero-section division">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="hero-txt text-center white-color">
                            <div id="breadcrumb">
                                <div class="row">
                                    <div class="col">
                                        <div class="breadcrumb-nav">
                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb">
                                                    <li class="breadcrumb-item"><a href="Musteri1">Anasayfa</a></li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h2 class="h2-xl">Resim Galerisi</h2>

                        </div>
                    </div>
                </div>	 
            </div>	  
        </div>	

        <section id="gallery-2" class="gallery-section division">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="gallery-img">
                            <a href="images/gallery/img-01.jpg" class="image-link">
                                <div class="hover-overlay">
                                    <img class="img-fluid" src="~/Musteri_templ/images/gallery/img-01.jpg" alt="gallery-image" />
                                    <div class="item-overlay"></div>
                                    <div class="img-meta white-color">
                                        <h5 class="h5-xs">
                                            Angus burger.
                                        </h5>
                                        <div class="txt-block-rating">
                                            <div class="stars-rating">
                                                <span>4.5</span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                                <span>(23)</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="gallery-img">
                            <a href="images/gallery/img-02.jpg" class="image-link">
                                <div class="hover-overlay">
                                    <img class="img-fluid" src="~/Musteri_templ/images/gallery/img-02.jpg" alt="gallery-image" />
                                    <div class="item-overlay"></div>
                                    <div class="img-meta white-color">
                                        <h5 class="h5-xs">4 Peynirli Pizza</h5>
                                        <div class="txt-block-rating">
                                            <div class="stars-rating">
                                                <span>4.52</span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                                <span>(58)</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="gallery-img">
                            <a href="images/gallery/img-03.jpg" class="image-link">
                                <div class="hover-overlay">
                                    <img class="img-fluid" src="~/Musteri_templ/images/gallery/img-03.jpg" alt="gallery-image" />
                                    <div class="item-overlay"></div>
                                    <div class="img-meta white-color">
                                        <h5 class="h5-xs">
                                            Izgara Kaburga
                                        </h5>
                                        <div class="txt-block-rating">
                                            <div class="stars-rating">
                                                <span>4.9</span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <span>(69)</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="gallery-img">
                            <a href="images/gallery/img-04.jpg" class="image-link">
                                <div class="hover-overlay">
                                    <img class="img-fluid" src="~/Musteri_templ/images/gallery/img-04.jpg" alt="gallery-image" />
                                    <div class="item-overlay"></div>
                                    <div class="img-meta white-color">
                                        <h5 class="h5-xs">
                                            Düzce Yeşillikli Pizza
                                        </h5>
                                        <div class="txt-block-rating">
                                            <div class="stars-rating">
                                                <span>4.38</span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                                <span>(41)</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="gallery-img">
                            <a href="images/gallery/img-05.jpg" class="image-link">
                                <div class="hover-overlay">
                                    <img class="img-fluid" src="~/Musteri_templ/images/gallery/img-05.jpg" alt="gallery-image" />
                                    <div class="item-overlay"></div>
                                    <div class="img-meta white-color">
                                        <h5 class="h5-xs">Mini tavuklu pizza</h5>
                                        <div class="txt-block-rating">
                                            <div class="stars-rating">
                                                <span>5</span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <span>(86)</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="gallery-img">
                            <a href="images/gallery/img-06.jpg" class="image-link">
                                <div class="hover-overlay">
                                    <img class="img-fluid"src="~/Musteri_templ/images/gallery/img-06.jpg" alt="gallery-image" />
                                    <div class="item-overlay"></div>
                                    <div class="img-meta white-color">
                                        <h5 class="h5-xs"> Yumurta Hamburger</h5>
                                        <div class="txt-block-rating">
                                            <div class="stars-rating">
                                                <span>4.65</span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                                <span>(30)</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="gallery-img">
                            <a href="images/gallery/img-07.jpg" class="image-link">
                                <div class="hover-overlay">
                                    <img class="img-fluid" src="~/Musteri_templ/images/gallery/img-07.jpg" alt="gallery-image" />
                                    <div class="item-overlay"></div>
                                    <div class="img-meta white-color">
                                        <h5 class="h5-xs">Çift Pastırmalı Burger</h5>
                                        <div class="txt-block-rating">
                                            <div class="stars-rating">
                                                <span>4.85</span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <span>(71)</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="gallery-img">
                            <a href="images/gallery/img-08.jpg" class="image-link">
                                <div class="hover-overlay">
                                    <img class="img-fluid" src="~/Musteri_templ/images/gallery/img-08.jpg" alt="gallery-image" />
                                    <div class="item-overlay"></div>
                                    <div class="img-meta white-color">
                                        <h5 class="h5-xs">Klasik Kaliforniya</h5>
                                        <div class="txt-block-rating">
                                            <div class="stars-rating">
                                                <span>4.64</span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                                <span>(17)</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="gallery-img">
                            <a href="images/gallery/img-09.jpg" class="image-link">
                                <div class="hover-overlay">
                                    <img class="img-fluid" src="~/Musteri_templ/images/gallery/img-09.jpg" alt="gallery-image" />
                                    <div class="item-overlay"></div>
                                    <div class="img-meta white-color">
                                        <h5 class="h5-xs">Izgara somon</h5>
                                        <div class="txt-block-rating">
                                            <div class="stars-rating">
                                                <span>5</span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <span>(64)</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="gallery-img">
                            <a href="images/gallery/img-10.jpg" class="image-link">
                                <div class="hover-overlay">
                                    <img class="img-fluid" src="~/Musteri_templ/images/gallery/img-10.jpg" alt="gallery-image" />
                                    <div class="item-overlay"></div>
                                    <div class="img-meta white-color">
                                        <h5 class="h5-xs">
                                            Sushi
                                        </h5>
                                        <div class="txt-block-rating">
                                            <div class="stars-rating">
                                                <span>4.65</span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                                <span>(89)</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="gallery-img">
                            <a href="images/gallery/img-11.jpg" class="image-link">
                                <div class="hover-overlay">
                                    <img class="img-fluid" src="~/Musteri_templ/images/gallery/img-11.jpg" alt="gallery-image" />
                                    <div class="item-overlay"></div>
                                    <div class="img-meta white-color">
                                        <h5 class="h5-xs">Limonlu Sarımsaklı Karides</h5>
                                        <div class="txt-block-rating">
                                            <div class="stars-rating">
                                                <span>4.85</span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <span>(71)</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="gallery-img">
                            <a href="images/gallery/img-12.jpg" class="image-link">
                                <div class="hover-overlay">
                                    <img class="img-fluid" src="~/Musteri_templ/images/gallery/img-12.jpg" alt="gallery-image" />
                                    <div class="item-overlay"></div>
                                    <div class="img-meta white-color">
                                        <h5 class="h5-xs">
                                            Spagetti Bolonez
                                        </h5>
                                        <div class="txt-block-rating">
                                            <div class="stars-rating">
                                                <span>4.64</span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                                <span>(116)</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                </div>	 
            </div>	   
        </section>	
       </div>

