
    <div id="page" class="page">
        <div id="about-page" class="page-hero-section division">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="hero-txt text-center white-color">
                            <div id="breadcrumb">
                                <div class="row">
                                    <div class="col">
                                        <div class="breadcrumb-nav">
                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb">
                                                    <li class="breadcrumb-item"><a href="Musteri1">Anasayfa</a></li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h2 class="h2-xl">Gani Hakkında</h2>

                        </div>
                    </div>
                </div>	 
            </div>	   
        </div>	
    
        <section id="about-3" class="wide-60 about-section division">
            <div class="container">
                <div class="row d-flex align-items-center">

                    <div class="col-md-5 col-lg-6">
                        <div class="about-3-img text-center mb-40">
                            <img class="img-fluid" src="~/Musteri_templ/images/about-01-img.png" alt="about-image">
                        </div>
                    </div>

                    <div class="col-md-7 col-lg-6">
                        <div class="about-3-txt mb-40">

                            <h2 class="h2-sm">BIZ, LEZZETIN VE KEYFIN BULUŞTUĞU NOKTADAYIZ.</h2>

                            <p class="p-md">
                                Restoranımızda, kaliteli malzemeler ve usta ellerin birleşimiyle hazırlanan yemekler, siz değerli misafirlerimize sunulmaktadır. Misyonumuz, her ziyarette unutulmaz bir lezzet deneyimi yaşatmaktır.
                            </p>

                            <ul class="txt-list">

                                <li class="list-item">
                                    <p class="p-md">
                                        <b> Lezzet ve Kalite: </b> Restoranımızda her yemek, taze ve kaliteli malzemeler kullanılarak, usta şeflerimiz tarafından özenle hazırlanır. Menümüzdeki her lezzet, misafirlerimize unutulmaz bir gastronomi deneyimi yaşatmak için tasarlanmıştır.
                                    </p>
                                </li>

                                <li class="list-item">
                                    <p class="p-md">
                                        <b>Güler Yüzlü Hizmet:</b> Misafirlerimizin memnuniyeti bizim önceliğimizdir. Profesyonel ve güler yüzlü personelimiz, her ziyaretinizde size en iyi hizmeti sunmak için buradadır. Her talebinize özenle cevap verilir ve her zaman en yüksek düzeyde konukseverlik sağlanır.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>	
                </div>	   
            </div>	   
        </section>	
        
        <section id="about-1" class="bg-fixed wide-100 about-section division">
            <div class="container">
                <div class="row">

                    <div class="col-xl-10 offset-xl-1">
                        <div class="about-1-txt text-center">

                            <h2><span class="yellow-color">Hamburger </span>Başka ne var?</h2>

                            <p>
                                "Restoranımızda sadece enfes hamburgerler değil, aynı zamanda zengin bir menüyle sizleri bekliyoruz. İster hafif ve lezzetli atıştırmalıklar arayın, ister doyurucu ana yemeklerle gününüzü taçlandırmak isteyin, her damak zevkine uygun seçenekler bulacaksınız. Tavuk kanatlarından, çıtır çıtır salatalara, tatlı krizlerinizi bastıracak nefis tatlılardan, burger dışında birçok lezzet sizi bekliyor. Her bir lezzetin titizlikle hazırlandığı restoranımızda, keyifli bir yemeğin ve muhteşem bir deneyimin tadını çıkarın."
                            </p>

                            <div class="abox-1-wrapper ico-75">
                                <div class="row">

                                    <div class="col-sm-4 col-md-2">
                                        <div class="abox-1 mb-40">

                                            <div class="abox-1-ico grey-color"><span class="flaticon-burger"></span></div>

                                            <h6 class="h6-xl">Hamburger</h6>

                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-md-2">
                                        <div class="abox-1 mb-40">

                                            <div class="abox-1-ico grey-color"><span class="flaticon-french-fries"></span></div>

                                            <h6 class="h6-xl">Patates Kızartması</h6>

                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-md-2">
                                        <div class="abox-1 mb-40">

                                            <div class="abox-1-ico grey-color"><span class="flaticon-fried-chicken"></span></div>

                                            <h6 class="h6-xl">Tavuk</h6>

                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-md-2">
                                        <div class="abox-1 mb-40">

                                            <div class="abox-1-ico grey-color"><span class="flaticon-salad"></span></div>

                                            <h6 class="h6-xl">Salata</h6>

                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-md-2">
                                        <div class="abox-1 mb-40">

                                            <div class="abox-1-ico grey-color"><span class="flaticon-donut"></span></div>

                                            <h6 class="h6-xl">Tatlılar</h6>

                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-md-2">
                                        <div class="abox-1 mb-40">

                                            <div class="abox-1-ico grey-color"><span class="flaticon-drinks"></span></div>

                                            <h6 class="h6-xl">İçecekler</h6>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <a href="Menu_Musteri" class="btn btn-md btn-red tra-red-hover">Menüyü Görün</a>

                        </div>
                    </div>


                </div>   
            </div>	  
        </section>	
      
        <section id="promo-1" class="promo-section division">
            <div class="container-fluid">
                <div class="row d-flex align-items-center">
                    <div class="col-md-4 col-lg-3">
                        <div id="pb-1-1" class="pbox-1 bg-fixed">
                            <div class="pbox-1-txt white-color">

                                <h3 class="h3-sm">İş Arkadaşlarımız </h3>
                                <p class="p-lg">Bizi tanımak ister misiniz?</p>
                                <a href="TakimArkadaslarimiz" class="btn btn-red tra-white-hover">Göz at</a>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-6">
                        <div id="pb-1-2" class="pbox-1 bg-fixed">
                            <div class="pbox-1-txt white-color">

                                <h3 class="h3-sm">
                                    Rezervasyon Yap
                                </h3>
                                <p class="p-lg"> Gani'nin Keyfini Çıkarın"</p>
                                <a href="Rezervasyon_Musteri" class="btn btn-red tra-white-hover">Rezervasyon yap</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div id="pb-1-3" class="pbox-1 bg-fixed">
                            <div class="pbox-1-txt white-color">

                                <h3 class="h3-sm">Bize Ulaşın</h3>
                                <p class="p-lg">Bize Ulaşmak çok yakın</p>
                                <a href="BizeUlasin" class="btn btn-red tra-white-hover">Bize Ulaşın</a>

                            </div>
                        </div>
                    </div>
                </div>    
            </div>	   
        </section>	
        </div>
        
      
