@model Menu
<div class="content-body default-height">
    <div class="container-fluid">
        <form asp-controller="MenuGuncelle" asp-action="MenuGuncelle"  enctype="multipart/form-data" method="post" novalidate>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"><i class="fa-regular fa-book-open-reader"></i> Menü Güncelleme Sayfası</h4>

                        </div>
                        <div class="card-body">
                            <div class="form-validation">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="Ad">Ad</label>
                                            <div class="col-lg-8">
                                                <input asp-for="Ad" type="text" class="form-control" id="Ad" placeholder="Ürün Adını gir">
                                                <span asp-validation-for="Ad" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="Aciklama">Açıklama</label>
                                            <div class="col-lg-8">
                                                <input asp-for="Aciklama" type="text" class="form-control" id="Aciklama" placeholder="Açıklama giriniz">
                                                <span asp-validation-for="Aciklama" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="Fiyat">Fiyat</label>
                                            <div class="col-lg-8">
                                                <input asp-for="Fiyat" type="text" class="form-control" id="Fiyat" placeholder="Fiyat giriniz">
                                                <span asp-validation-for="Fiyat" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationCustom05">
                                                Kategori Tür Seç
                                                <span class="text-danger"></span>
                                            </label>
                                            <div class="col-lg-8">
                                                <select asp-for="KategoriId" class="default-select wide form-control" id="validationCustom05">
                                                    <option data-display="Select">Tür seçiniz</option>
                                                    @foreach (var kategori in ViewBag.Kategori)
                                                    {
                                                        <option value="@kategori.Id">@kategori.Ad</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="formFile">Menü Fotoğrafı</label>
                                            <div class="col-lg-8">
                                                <input asp-for="Fotograf" id="formFile" class="form-control" name="file" type="file">
                                                <span class="validation-text" asp-validation-for="Fotograf"></span>
                                            </div>
                                        </div>


                                        <input type="hidden" value=true asp-for="Akitf">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <button type="submit" class="btn me-2 btn-primary">Gönder</button>
                                                <button type="button" class="btn btn-danger light" onclick="window.history.back();">İptal Etmek</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    document.querySelector("#formFile").onchange = function () {
        const fileName = this.files[0]?.name;
        const label = document.querySelector("label[for=formFile]");
        label.innerText = fileName ?? "Fotoğraf Yükle";
    };
</script>
