@model Masa

<div class="content-body default-height">
    <div class="container-fluid">
        <form asp-controller="Masa" asp-action="MasaEkle" method="post" novalidate>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"> <i class="fa-duotone fa-calendar-lines-pen"> </i>Masa Ekleme Sayfası</h4>
                            <div>
                                <a asp-controller="MasaOzellik" asp-action="MasaOzellikEkle" class="btn btn-lg btn-red tra-red-hover"><b style="color: black; font-size: 17px;">Özellik Ekle</b></a>
                                <p style="margin-left: 10px; color: red;"><i class="fa fa-arrow-up"></i> Önce Özellik ekleyin! <i class="fa fa-arrow-up"></i></p>

                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-validation">
                                <div class="row">
                                    <div class="col-xl-6">

                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationCustom01">Masa Kodu</label>
                                            <div class="col-lg-6">
                                                <input asp-for="Kod" type="text" class="form-control" id="Ad" placeholder=" Kod gir">
                                                <span asp-validation-for="Kod" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationCustom01">Masa Kapasitesi</label>
                                            <div class="col-lg-6">
                                                <input asp-for="Kapasite" type="number" class="form-control" id="Kapasite" placeholder=" Kapasite gir" min="0">
                                                <span asp-validation-for="Kapasite" class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationCustom05"> Kategori</label>
                                            <div class="col-lg-6">
                                                <select asp-for="KategoriId" class="default-select wide form-control" id="validationCustom05">
                                                    <option data-display="Select">Masa Kategorisi Seçiniz</option>
                                                    @foreach (var kategori in ViewBag.Kategoriler)
                                                    {
                                                        <option value="@kategori.Id">@kategori.Ad</option>
                                                    }
                                                </select>
                                                <span asp-validation-for="KategoriId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="mb-6 row">
                                            <label class="col-lg-4 col-form-label" for="validationCustom05"> Masa Özellik</label>
                                            <div class="col-lg-6">
                                                <select class="multi-select" name="MasaOzellik[]" multiple="multiple" id="validationCustom05">
                                                    @foreach (var ozellik in ViewBag.Ozellikler)
                                                    {
                                                        <option value="@ozellik.Id">@ozellik.Ad</option>
                                                    }
                                                </select>
                                            </div>
                                      
                                   
                                            <div class="col-xl-12">
                                                <br />
                                                <button type="submit" class="btn me-2 btn-primary">Gönder</button>
                                                <button type="submit" class="btn btn-danger light">İptal Et</button>
                                            </div>
                               </div>
                             </div>
                           </div>
                         </div>
                       </div>
                    </div>
                  </div>
               </div>
           </form>
        </div>
    </div>
