<div id="page" class="page">
    <section id="hero-1" class="hero-section division">
        <div class="slider">
            <ul class="slides">
                <li id="slide-1">
                       <img src="~/Musteri_templ/images/slider/slide-1.jpg" alt="slide-background">
                    <div class="caption d-flex align-items-center center-align">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="caption-txt white-color">
                                        <div class="title"><h2>Keyifli Vakitler, Lezzet Dolu Anlar</h2></div>
                                        <p>Hergün <span class="yellow-color">11:30 - 23.00</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>	
                <li id="slide-2">
                    <img src="~/Musteri_templ/images/slider/slide-2.jpg" alt="slide-background">
                    <div class="caption d-flex align-items-center center-align">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="caption-txt white-color">
                                        <div class="title"><h2>GERÇEK LEZZETİ KEŞFET</h2></div>
                                        <p>Lezzetin Tadını Çıkarın</p>
                                    </div>
                                </div>
                            </div>  
                        </div>  
                    </div>	
                </li>	
                <li id="slide-3">
                    <img src="~/Musteri_templ/images/slider/slide-3.jpg" alt="slide-background">
                    <div class="caption d-flex align-items-center center-align">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="caption-txt white-color">
                                        <div class="title"><h2> Lezzet Dolu, Cüzdan Dostu</h2></div>
                                        <p>Sipariş Ver <span class="yellow-color"><a href="tel:123456789">555 492 52 81</a></span></p>
                                    </div>
                                </div>
                            </div>  
                        </div>  
                    </div>	
                </li>	
            </ul>
        </div>	
    </section>	
    <section id="about-3" class="wide-60 about-section division">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-5 col-lg-6">
                    <div class="about-3-img text-center mb-40">
                        <img class="img-fluid" src="~/Musteri_templ/images/about-01-img.png" alt="about-image">
                    </div>
                </div>
                <div class="col-md-7 col-lg-6">
                    <div class="about-3-txt mb-40">
                        <h2 class="h2-sm coffee-color">Biz, lezzetin ve keyfin buluştuğu noktadayız. </h2>
                        <p class="p-md grey-color">
                            Restoranımızda, kaliteli malzemeler ve usta ellerin birleşimiyle hazırlanan yemekler, siz değerli misafirlerimize sunulmaktadır. Misyonumuz, her ziyarette unutulmaz bir lezzet deneyimi yaşatmaktır.
                        </p>
                        <div class="abox-2-wrapper ico-70">
                            <div class="row text-center">
                                <div class="col-sm-3">
                                    <div class="abox-2">
                                        <div class="abox-2-ico grey-color"><span class="flaticon-burger"></span></div>
                                        <h6 class="h6-lg">Hamburger</h6>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="abox-2">
                                        <div class="abox-2-ico grey-color"><span class="flaticon-french-fries"></span></div>
                                        <h6 class="h6-lg">Patates Kızartması</h6>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="abox-2">
                                        <div class="abox-2-ico grey-color"><span class="flaticon-fried-chicken"></span></div>
                                        <h6 class="h6-lg">Tavuk</h6>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="abox-2">
                                        <div class="abox-2-ico grey-color"><span class="flaticon-salad"></span></div>
                                        <h6 class="h6-lg">Salata</h6>
                                    </div>
                                </div>
                            </div>
                        </div>	
                    </div>
                </div>	
            </div>	  
        </div>	  
    </section>
    <section id="promo-2" class="promo-section division">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-6 col-lg-5">
                    <div id="pb-2-1" class="pbox-2 bg-fixed">
                        <div class="pbox-2-txt brown-color">
                            <h4 class="h4-lg txt-300">Soğan Halkası</h4>
                            <h4 class="h4-xl">Bizden</h4>
                            <a asp-controller="Menu_Musteri" asp-action="Index" class="btn btn-md btn-red tra-red-hover">Menüyü Görün</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-7">
                    <div id="pb-2-2" class="pbox-2 bg-fixed">
                        <div class="pbox-2-txt brown-color">
                            <h4 class="h4-lg txt-300">
                                ÇITIR TAVUK BURGER
                            </h4>
                            <h4 class="h4-xl">YİNE BURADA!!</h4>
                            <a asp-controller="Menu_Musteri" asp-action="Index" class="btn btn-md btn-red tra-red-hover">Menüyü Görün</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div></div>
    <section id="promo-11" class="bg-fixed promo-section division">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-5 col-lg-4">
                    <div class="pbox-11-txt mb-40 white-color">
                        <h2>Beybiere Özel</h2>
                        <p class="p-md">Bizim için özel olan siz değerli müşterilerimize müjdeli bir haberimiz var! Artık sizlere özel olarak hazırladığımız indirimlerle, keyfinizi bir adım öteye taşıyoruz.</p>
                        <a asp-controller="Menu_Musteri" asp-action="Index" class="btn btn-md btn-red tra-red-hover">Menüyü Görün</a>
                    </div>
                </div>
                <div class="col-md-7 col-lg-6">
                    <div class="pbox-11-img mb-40">
                        <img class="img-fluid" src="~/Musteri_templ/images/promo-11-img.png" alt="promo-image" />
                        <div class="red-badge price-badge-lg bg-fixed">
                            <div class="badge-txt white-color">
                                <h5 class="h5-xl">Sadece</h5>
                                <h3 class="h3-sm">150₺</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>	  
    </section>	
    <section id="menu-6" class="wide-70 menu-section division">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="section-title mb-60 text-center">
                        <h2 class="h2-xl red-color">Menümüzü Keşfedin.</h2>
                        <p class="p-xl">
                            "Restoranımızın sunduğu zengin ve çeşitli menüyü keşfedin.Her biri özenle hazırlanmış yemeklerimiz, lezzet yolculuğunuzda unutulmaz bir deneyim sunmak için sabırsızlanıyor. Sizi, menümüzdeki lezzetli sürprizlerle dolu bir yolculuğa davet ediyoruz."
                        </p> 
                        <a asp-controller="Menu_Musteri" asp-action="Index" class="btn btn-md btn-red tra-red-hover">Menüyü Görün</a>
                    </div>
           
                </div>
            </div>
            </div>         
    </section>	
    <section id="banner-3" class="bg-yellow banner-section division">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-7 col-lg-6">
                    <div class="banner-3-txt coffee-color">
                        <h4 class="h4-xl">QR ile Kolayca Sipariş</h4>
                        <h2>Lezzeti Hızlandır!"</h2>
                        <p class="p-md">
                            Tek yapmanız gereken QR kodunu taratmak ve siparişinizi anında vermek! Hızlı, pratik ve lezzetli bir deneyim için QR ile kolayca sipariş verin, lezzeti hızlandırın!"
                        </p>
                         @*Store Badges 
                        <div class="stores-badge">
                         AppStore 
                        <a href="#" class="store">
                                <img class="appstore-original" src="~/Musteri_templ/images/appstore.png" alt="appstore-logo" />
                            </a>

                        </div>*@
                    </div>
                </div>
                <div class="col-md-5 col-lg-6">
                    <div class="banner-3-img">
                        <img class="img-fluid" src="~/Musteri_templ/images/e-shop.png" alt="banner-image">
                    </div>
                </div>
            </div>     
        </div>	  
    </section>	
    <section id="gallery-2" class="gallery-section division">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="section-title mb-60 text-center">
                        <h2 class="h2-xl red-color">Resim Galerisi</h2>
                        <p class="p-xl">
                            Restoranımızın sıcak atmosferini ve lezzetli yemeklerini keşfetmek için görsellerimize göz atın. Burada, şefimizin özenle hazırladığı yemekler. Görsellerin üzerine tıklayarak daha büyük boyutlarda görüntüleyebilirsiniz.
                        </p>
                        <a asp-controller="ResimGaleri" asp-action="Index" class="btn btn-md btn-red tra-red-hover">Resim Galeri'ye git</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="gallery-img">
                        <a href="~/Musteri_templ/images/gallery/img-01.jpg" class="image-link">
                            <div class="hover-overlay">
                                <img class="img-fluid" src="~/Musteri_templ/images/gallery/img-01.jpg" alt="gallery-image" />
                                <div class="item-overlay"></div>
                                <div class="img-meta white-color">
                                    <h5 class="h5-xs">Gurme Burger</h5>
                                    <div class="txt-block-rating">
                                        <div class="stars-rating">
                                            <span>4.5</span>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                            <span>(23)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="gallery-img">
                        <a href="~/Musteri_templ/images/gallery/img-02.jpg" class="image-link">
                            <div class="hover-overlay">
                                <img class="img-fluid" src="~/Musteri_templ/images/gallery/img-02.jpg" alt="gallery-image" />
                                <div class="item-overlay"></div>
                                <div class="img-meta white-color">
                                    <h5 class="h5-xs"> Şefin Pizzası</h5>
                                    <div class="txt-block-rating">
                                        <div class="stars-rating">
                                            <span>4.52</span>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                            <span>(58)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="gallery-img">
                        <a href="~/Musteri_templ/images/gallery/img-04.jpg" class="image-link">
                            <div class="hover-overlay">
                                <img class="img-fluid" src="~/Musteri_templ/images/gallery/img-04.jpg" alt="gallery-image" />
                                <div class="item-overlay"></div>
                                <div class="img-meta white-color">
                                    <h5 class="h5-xs">Mevsim Yeşillikli Pizza</h5>
                                    <div class="txt-block-rating">
                                        <div class="stars-rating">
                                            <span>4.38</span>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                            <span>(41)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="gallery-img">
                        <a href="~/Musteri_templ/images/gallery/img-05.jpg" class="image-link">
                            <div class="hover-overlay">
                                <img class="img-fluid" src="~/Musteri_templ/images/gallery/img-05.jpg" alt="gallery-image" />
                                <div class="item-overlay"></div>
                                <div class="img-meta white-color">
                                    <h5 class="h5-xs">Mini Pizza</h5>
                                    <div class="txt-block-rating">
                                        <div class="stars-rating">
                                            <span>5</span>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <span>(86)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>	
    </section>	
    <div id="brands-1" class="bg-lightgrey brands-section division">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="owl-carousel brands-carousel">
                        <div class="brand-logo">
                            <img class="img-fluid" src="~/Musteri_templ/images/brand-11.png" alt="brand-logo" />
                        </div>
                        <div class="brand-logo">
                            <img class="img-fluid" src="~/Musteri_templ/images/brand-12.png" alt="brand-logo" />
                        </div>
                        <div class="brand-logo">
                            <img class="img-fluid" src="~/Musteri_templ/images/brand-13.png" alt="brand-logo" />
                        </div>
                        <div class="brand-logo">
                            <img class="img-fluid" src="~/Musteri_templ/images/brand-14.png" alt="brand-logo" />
                        </div>
                        <div class="brand-logo">
                            <img class="img-fluid" src="~/Musteri_templ/images/brand-15.png" alt="brand-logo">
                        </div>
                        <div class="brand-logo">
                            <img class="img-fluid" src="~/Musteri_templ/images/brand-16.png" alt="brand-logo" />
                        </div>
                        <div class="brand-logo">
                            <img class="img-fluid" src="~/Musteri_templ/images/brand-17.png" alt="brand-logo" />
                        </div>

                        <div class="brand-logo">
                            <img class="img-fluid" src="~/Musteri_templ/images/brand-18.png" alt="brand-logo" />
                        </div>
                    </div>
                </div>
            </div>      
        </div>
    </div>	
    <div id="gmap">
        <div class="google-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3018.5121014768665!2d31.161932499999995!3d40.8386792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x409d75452db703b9%3A0xbc60c0d373f3b835!2sD%C3%BCzce%20Belediyesi!5e0!3m2!1str!2str!4v1716273812518!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    </div>